version: 2.1

orbs:
  orb-tools: circleci/orb-tools@8.27.4
  sonarcloud: sonarsource/sonarcloud@dev:alpha
jobs:
  test:
    parameters:
      image:
        type: string
      token_variable_name:
        type: string
        default: SONAR_TOKEN
    docker:
      - image: <<parameters.image>>:latest
    steps:
      - checkout
      - sonarcloud/scan:
          sonar_token_variable_name: <<parameters.token_variable_name>>

workflows:
  publish-dev:
    jobs:
      - orb-tools/pack:
          source-dir: src/main
          destination-orb-path: orb.yml
          workspace-path: orb.yml
          artifact-path: orb.yml
      - orb-tools/publish-dev:
          context: Publishing Orb
          orb-name: sonarsource/sonarcloud
          requires: [orb-tools/pack]
      - test:
          name: test-node
          image: node
          context: SonarCloud Analysis
          requires: [orb-tools/publish-dev]
      - test:
          name: test-circleci-python
          image: circleci/python
          context: SonarCloud Analysis
          requires: [orb-tools/publish-dev]
      - test:
          name: test-different-sonar-token-variable-name
          image: circleci/python
          token_variable_name: DIFFERENT_SONAR_TOKEN # This token is setup as a project variable in CircleCI
          requires: [orb-tools/publish-dev]
      - orb-tools/publish:
          context: Publishing Orb
          orb-ref: sonarsource/sonarcloud@1.0.0
          attach-workspace: true
          requires: [test-node, test-circleci-python]
          filters:
            branches:
              only: master



