version: 2.1
orbs:
  orb-tools: circleci/orb-tools@8.27.4
jobs:
  test:
    parameters:
      image:
        type: string
    docker:
      - image: <<parameters.image>>:latest
    steps:
      - checkout
      - sonarcloud/scan
workflows:
  publish-dev:
    jobs:
      - orb-tools/pack:
          source-dir: src/main
          destination-orb-path: orb.yml
          workspace-path: orb.yml
          artifact-path: orb.yml
      - orb-tools/publish-dev:
          context: Publishing Orb
          orb-name: sonarsource/sonarcloud
          requires: [orb-tools/pack]
      - orb-tools/publish:
          context: Publishing Orb
          orb-ref: sonarsource/sonarcloud@2.0.0
          attach-workspace: true
          filters:
            branches:
              only: master



