version: 2.1
orbs:
  # Your orb will be automatically injected here during the pipeline.
  # Reference your orb's jobs and commands below as they will exist when built.
  orb-tools: circleci/orb-tools@12.3
  # The orb definition is intentionally not included here. It will be injected into the pipeline.
  sonarcloud: {}
# Use this tag to ensure test jobs always run,
# even though the downstream publish job will only run on release tags.
filters: &filters
  tags:
    only: /.*/
# Filter for release tags.
release-filters: &release-filters
  branches:
    ignore: /.*/
  tags:
    only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

jobs:
  test:
    parameters:
      image:
        type: string
    docker:
      - image: <<parameters.image>>:latest
    steps:
      - checkout
      - sonarcloud/scan

  test-us-region:
    docker:
      - image: node:latest
    environment:
      SONAR_TOKEN: "fake_token"
      SONAR_REGION: "US"
      SONAR_SCANNER_JSON_PARAMS: '{"sonar.scanner.internal.dumpToFile":"./output.properties"}'
    steps:
      - checkout
      - sonarcloud/scan
      - run:
          name: Check scan output
          command: ./src/scripts/assertFileContains.sh ./output.properties "sonar.region=US"

  test-project-root:
    docker:
      - image: node:latest
    environment:
      SONAR_TOKEN: "fake_token"
      SONAR_SCANNER_JSON_PARAMS: '{"sonar.scanner.internal.dumpToFile":"./output.properties"}'
    steps:
      - checkout
      - run:
          command: mkdir some_folder
      - sonarcloud/scan:
          project_root: some_folder
      - run:
          name: Check scan output
          command: ./src/scripts/assertFileContains.sh ./some_folder/output.properties "some_folder"

  test-sonar-token-variable-name:
    docker:
      - image: node:latest
    environment:
      MY_SONAR_TOKEN: "fake_token"
      SONAR_SCANNER_JSON_PARAMS: '{"sonar.scanner.internal.dumpToFile":"./output.properties"}'
    steps:
      - checkout
      - run:
          command: mkdir some_folder
      - sonarcloud/scan:
          sonar_token_variable_name: MY_SONAR_TOKEN
      - run:
          name: Check scan output
          command: ./src/scripts/assertFileExists.sh ./output.properties

workflows:
  test-deploy:
    jobs:
      # Make sure to include "filters: *filters" in every test job you want to run as part of your deployment.
      # Test your orb's commands in a custom job and test your orb's jobs directly as a part of this workflow.
      - test:
          filters: *filters
          name: integration-test-node
          image: node
          context: SonarCloud Analysis
      - test:
          filters: *filters
          name: integration-test-circleci-python
          image: circleci/python
          context: SonarCloud Analysis
      - test-us-region:
          filters: *filters
          name: integration-test-us-region
      - test-project-root:
          filters: *filters
          name: integration-test-project-root
      - test-sonar-token-variable-name:
          filters: *filters
          name: integration-test-sonar-token-variable-name
      # The orb must be re-packed for publishing, and saved to the workspace.
      - orb-tools/pack:
          filters: *release-filters
      - orb-tools/publish:
          orb_name: sonarsource/sonarcloud
          vcs_type: github
          pub_type: production
          # Ensure this job requires all test jobs and the pack job.
          requires:
            - orb-tools/pack
            - integration-test-node
            - integration-test-circleci-python
            - integration-test-us-region
            - integration-test-project-root
            - integration-test-sonar-token-variable-name
          context: Publishing Orb
          filters: *release-filters
